body {
    background: url("https://celes.club/uploads/posts/2022-05/1653326073_13-celes-club-p-anime-fon-nochnoi-les-krasivie-14.jpg")no-repeat center/cover;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bubbles {
    position: relative;
    display: flex;
}

.bubbles span {
    text-align: center;
    position: relative;
    width: 5%;
    height: 4vh;
    background: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 30px #4fc3dc,
    0 0 50px #4fc3dc;
    animation: animat 15s linear infinite;
    animation-duration: calc(100s / var(--i));
}

.bubbles span:nth-child(even) {
    background: #f8fa84;
    box-shadow: 0 0 0 8px #dee036,
    0 0  10px #f8fc00f5,
    0 0 50px #f8fc00f5;
}

@keyframes animat {
    0% {
        transform: translateY(100vh) scale(0);
    }
    100% {
        transform: translateY(-10vh) scale(1);

    }
}
.feedback{

}
.btn {
    margin: 5% 0 0 30%;
    border-radius: 25px;
    font-size: 20px;
    width: 10%;
    padding: 15px 20px;
    border: 3px solid #093183;
    background: linear-gradient(135deg, #4fc3dc44, #4fc3dc, #0022ff);
    box-shadow: 0 0 20px #4fc3dc,
    0 0 50px #4fc3dc44,
    0 0 75px #4fc3dc44,
    0 0 100px  #0022ff;
    color: #f0f834;
    font-weight: 600;
    letter-spacing: 3px;
    animation: animate 3s linear infinite;

}

@keyframes animate {
    100% {
        filter: hue-rotate(360deg);
    }

}


